<!DOCTYPE html>
<html>
<head>
  <title>WhereWereYou</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
	<div id="mainHeader" class="clearfix">
    <div class="narrow center">
      <div style="float:left; width: 300px; font-size: 20px">
				Where were you on 9/11?  
      </div>
      <div style="float:left; width: 200px">
				<!-- begin Tweet -->		
				<div style="height:35px; width:150px;"><a href="http://twitter.com/share" class="twitter-share-button" data-text="Where were you on 9/11?" data-count="horizontal" data-via="WhereWereYou">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script></div>
				<!-- end Tweet -->		
			</div>
      <div style="float:left; width: 300px">
				<!-- begin FB Like -->
				<div id="fb-root"></div>
				<script>(function(d){
				  var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
				  js = d.createElement('script'); js.id = id; js.async = true;
				  js.src = "//connect.facebook.net/en_US/all.js#appId=255045101202205&xfbml=1";
				  d.getElementsByTagName('head')[0].appendChild(js);
				}(document));</script>
				<div class="fb-like" data-href="where-were-you.heroku.com" data-send="true" data-width="450" data-show-faces="true"></div>
				<!-- end FB Like -->
			</div>
    </div>
  </div>
  	
	<%= yield %>

</body>
</html>
